<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		
		<property name="hibernate.connection.url">jdbc:mysql://sql148.your-server.de/webosd_db8</property>
		<property name="hibernate.connection.username">shs2012</property>
		<property name="hibernate.connection.password">smartsys12</property>
		
<!-- 		<property name="hibernate.connection.url">jdbc:mysql://localhost/webosd_db8</property> -->
<!-- 		<property name="hibernate.connection.username">root</property> -->
<!-- 		<property name="hibernate.connection.password"></property> -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.transaction.auto_close_session">false</property>
<!-- 		<property name="hibernate.hbm2ddl.auto">validate</property> -->

		<!-- Mapping-Files -->
		<mapping resource="projekt/fhv/teama/hibernate/mappings/AufenthaltLeistung.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/VertragspartnerTyp.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Berechtigung.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Mitarbeiter.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/rechnung/Teilzahlung.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/rechnung/Rechnung.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Adresse.hbm.xml"/>
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Teilreservierung.hbm.xml"/>
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Statusentwicklung.hbm.xml"/>
		<mapping resource="projekt/fhv/teama/hibernate/mappings/Pfandtyp.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/Kontingent.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Reservierung.hbm.xml"/> 
		<mapping resource="projekt/fhv/teama/hibernate/mappings/leistungen/Zusatzleistung.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/leistungen/Artikel.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/leistungen/Leistung.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/rechnung/Zahlungsmethode.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/ReservierungsOption.hbm.xml"/>
		<mapping resource="projekt/fhv/teama/hibernate/mappings/rechnung/Rechnungsposition.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Zimmer.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/leistungen/Warengruppe.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Kontodaten.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Zimmerpreis.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Saison.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Zimmerstatus.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Person.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Gast.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Vertragspartner.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/personen/Land.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/zimmer/Kategorie.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/Kategoriekontingent.hbm.xml" />
		<mapping resource="projekt/fhv/teama/hibernate/mappings/Aufenthalt.hbm.xml" />
	</session-factory>
</hibernate-configuration>